
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
}

body {
  margin: 5vw;
  background-color: rgb(250, 250, 250);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  border-bottom: 0.5px solid gray;
}

h1 {
  color: rgb(77, 77, 77);
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
}

.text-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3vw;
  border-bottom: 0.5px solid gray;
}

.rotate {
  width: 3vw;
  filter: invert(0.5);
}

.left-arrow {
  width: 2vw;
  filter: invert(0.5);
}

.placeholder {
  border: none;
  font-size: 2vw;
}

::placeholder {
  border: none;
  font-style: italic;
}

#text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2vw;
  padding-right: 3.5vw;
  border-bottom: 0.5px solid gray;
  height: 8vw;
}

.description {
  display: flex;
  gap: 2vw;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
}

.description label.checked {
  text-decoration: line-through;
}

.dots {
  font-size: x-large;
  color: rgb(122, 122, 122);
}

.settings {
  cursor: pointer;
  /* position: relative; */
}

.settings li {
  list-style: none;
}

.task-menu {
  z-index: 2;
  right: 45px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transform-origin: top right;
  transition: transform 0.2s ease;
}

.settings .task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 20px;
  font-size: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.task-menu li:last-child{
  margin-bottom: 0;
}

.task-menu li:hover {
  background: #f5f5f5;
}

.task-menu li i {
  padding-right: 8px;
}